# Python compiled files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/

# Logs
*.log
results/*.log
results/events.log

# Dataset CSVs
datasets/network_data.csv

# DS_Store / IDE configs
.DS_Store
.vscode/
.idea/
